h1,h3{
    text-align: center;
}

.bg {
    /* The image used */
    background-image: url(kepek/hatter.jpg);
  
    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
    height: 100%;
  }