p{text-align: justify;}
img{width:500px ;}
.img-with-text {
    text-align: center;
    width:  500px;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}
body{
    
        /* The image used */
        background-image: url(kepek/hatter.jpg);
      
        /* Center and scale the image nicely */
        background-position: center;
        background-size: cover;
        height: 100%;
      
}
#nyito{
    color: black;
    float: right;
}
